* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "miracleregular";
  src: url("font/miracle/miracle_personal_use-webfont.woff2") format("woff2"),
    url("font/miracle/miracle_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "summerfaithregular";
  src: url("font/summer_faith/summerfaith-regular-webfont.woff2")
      format("woff2"),
    url("font/summer_faith/summerfaith-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*     Making it horizontal       */

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 450vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*     SECTION 1       */

.one {
  background-image: url("img/background-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.one h1 {
  color: red;
  font-family: "miracleregular";

  font-size: 9vw;
  margin-left: 2%;
}

.one h2 {
  color: red;
  font-family: "summerfaithregular";

  font-size: 6vw;
  margin-left: 3%;
}
.of-montreal {
  margin-top: -2%;
}

.arrow {
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  border-radius: 50%;
  margin-left: 85%;
  margin-top: 10%;
}

/*     SECTION 2       */

.two {
  background: #d80000;
  width: 90vw;
}

.text-description {
  color: white;

  font-family: "miracleregular";

  text-align: right;
  width: 29vw;

  padding-top: 10%;

  margin-left: 30%;
  font-size: 1.5vw;
}
.text-mccord {
  color: white;
  font-family: "Open Sans";

  margin-left: 3%;
}

.two h2 {
  color: white;

  font-family: "miracleregular";

  text-align: left;
  width: 29vw;
  margin-left: 15%;
  margin-top: 5%;
  left: 120vw;

  font-size: 10vw;
}

.title-one {
  color: white;
  font-size: 30vw;
  margin-top: -33%;
  margin-left: -1%;
}

.text-bonsecours {
  text-align: right;
  width: 12%;
  color: white;
  font-family: "Open Sans";
  margin-top: -16%;
  margin-left: 72%;
}

/*     SECTION 3      */

.three {
  background: white;
  width: 130vw;
}
.img-projet {
  margin-left: -10%;
  width: 80vw;
}

/*     SECTION 4      */

.four {
  background: red;
  width: 80vw;
}

.img-chinatown {
  width: 90%;
  margin-top: 2%;
  margin-left: 4%;
}
