* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "miracleregular";
  src: url("font/Miracle-Free-Font/Miracle Personal use.woff") format("woff");
}

@font-face {
  font-family: "summerfaithregular";
  src: url("font/summer_faith/summerfaith-regular-webfont.woff2")
      format("woff2"),
    url("font/summer_faith/summerfaith-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*     Making it horizontal       */

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 550vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*     SECTION 1       */
.text-title {
  width: 65vw;
}
.one {
  background-image: url("img/background-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.one h1 {
  color: red;
  font-family: "miracleregular";

  font-size: 9vw;
  margin-left: 2%;
}

.one h2 {
  color: red;
  font-family: "summerfaithregular";

  font-size: 6vw;
  margin-left: 3%;
  margin-top: -2%;
}
.of-montreal {
  margin-top: -2%;
}

.arrow {
  background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  border-radius: 50%;
  margin-left: 85%;
  margin-top: 5%;
}

/*     SECTION 2       */

.two {
  background: #d80000;
  width: 90vw;
}

.text-description_a {
  color: white;

  font-family: "miracleregular";

  text-align: right;
  width: 29vw;

  padding-top: 10%;

  margin-left: 30%;
  font-size: 1.5vw;
}
.text-mccord {
  color: white;
  font-family: "Open Sans";

  margin-left: 3%;
}

.two h2 {
  margin-left: 15%;
  left: 120vw;
  margin-top: 2%;
}

.title-one {
  margin-top: -38.5%;
  margin-left: 2%;
}

.text-bonsecours {
  text-align: right;
  width: 12%;
  color: white;
  font-family: "Open Sans";
  margin-top: -18%;
  margin-left: 72%;
}

/*     SECTION 3      */

.three {
  background: white;
  width: 130vw;
}
.img-projet {
  margin-left: -10%;
  width: 80vw;
  float: left;
}
.title-untold-stories {
  width: 40vw;
  float: right;
  margin-right: 16%;
}
.text-description_b {
  font-family: "miracleregular";

  width: 35vw;

  font-size: 1.8vw;

  margin-left: 70%;
  margin-top: 8%;
}

/*     SECTION 4      */

.four {
  background: red;
  width: 80vw;
}

.img-chinatown {
  width: 90%;
  margin-top: 2%;
  margin-left: 4%;
}

/*     SECTION 5      */
.title-timeline {
  margin-top: 15%;
  margin-left: 15%;
}
.siecle_16 {
  margin-left: 75%;
  margin-top: -15%;
}

.siecle_17 {
  margin-left: 95%;
  margin-top: -8%;
}
.siecle_18 {
  margin-left: 115%;
  margin-top: -8%;
}

.siecle_19 {
  margin-left: 135%;
  margin-top: -8%;
}

.siecle_20 {
  margin-left: 155%;
  margin-top: -8%;
}

.red-line {
  width: 1477px;
  height: 10px;

  margin-top: -5%;
  background-color: #d80000;

  margin-left: 65%;
  margin-top: 0%;
}
